.header{
  background: $headerBG;
  position: relative;
  @media screen and (min-width: 1024px){
    height: 64px;
  }
  .menu {
    display: none;
    border: 0;
    color: $blackCol;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    padding: 0;
    i {
      display: none;
    }
    @media screen and (max-width: 1023px){
      display: inline-block;
      .fa-bars {
        display: inline-block;
      }
      &.is-active {
        .fa-bars {
          display: none;
        }
        .fa-close {
          display: inline-block;
        }
      }
    }
  }
}

.logo, .project{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.logo{
  img {
    width: 120px;
  }
    @media screen and (min-width: 1024px){
      width: 350px;
      padding: 15px 20px;
    }
}
.project {
      margin: 0;
      font-size: 23px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      color: $blackCol;

    @media screen and (min-width: 1024px){
      width: calc(100% - 355px);
    }
}

@media screen and (max-width: 1023px) {
  .header {
    background: none;
    .logo {
      background: $headerBG;
      margin: 0;
      height: 46px;
      padding: 12px;
      img {
        height: 24px;
      }
    }
    .project {
      background: $primary-col1;
      color: #fff;
      padding: 15px 12px;
      height: 46px;
      font-size: 15px;
    }
  }
}



#menu-icon {
  width: 30px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 12px;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  }

#menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#menu-icon span:nth-child(1) {
  top: 0px;
}

#menu-icon span:nth-child(2),#menu-icon span:nth-child(3) {
  top: 10px;
}

#menu-icon span:nth-child(4) {
  top: 20px;
}

#menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


