.header{
  background: $headerBG;
  position: relative;
  @media screen and (min-width: 1024px){
    height: 64px;
  }
  .menu {
    display: none;
    border: 0;
    color: $blackCol;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    padding: 0;
    i {
      display: none;
    }
    @media screen and (max-width: 1023px){
      display: inline-block;
      .fa-bars {
        display: inline-block;
      }
      &.is-active {
        .fa-bars {
          display: none;
        }
        .fa-close {
          display: inline-block;
        }
      }
    }
  }
}

.logo, .project{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.logo{
  img {
    width: 120px;
  }
    @media screen and (min-width: 1024px){
      width: 350px;
      padding: 15px 20px;
    }
}
.project {
      margin: 0;
      font-size: 23px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      color: $blackCol;

    @media screen and (min-width: 1024px){
      width: calc(100% - 355px);
    }
}

@media screen and (max-width: 1023px) {
  .header {
    background: none;
    .logo {
      background: $headerBG;
      margin: 0;
      height: 46px;
      padding: 12px;
      img {
        height: 24px;
      }
    }
    .project {
      background: $primary-col1;
      color: #fff;
      padding: 15px 12px;
      height: 46px;
      font-size: 15px;
    }
  }
}