.sidebar{
  background: transparent linear-gradient(to top,#3B3B3B, $primary-col1) top left no-repeat;
  font-size: 10px;
  font-weight: 300;
  color: $whiteCol;
  margin-bottom: 48px;
  position: static;
  width: 100%;
  float: none;
  @media screen and (min-width: 1024px){
    width: 350px;
    position: absolute;
    top: 64px;
    bottom: 36px;
    margin-bottom: 0px;
  }
}

.filtersSearch {
  overflow: auto;
}

.searchbar, .filter{
  margin: 10px 20px 15px;
}

.searchbar{
  text-align: center;
  position: relative;
  color: $whiteCol;
  input {
      padding: 7px 5px;
      border: 0;
      background: $greyCol1;
      border-radius: 3px;
      width: 100%;
      padding-right: 20px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);

      &::placeholder {
        padding: 10px;
        color: $whiteCol;
      }
  }
  i {
    position: absolute;
    right: 10px;
    color: $greyCol2;
    top: 8px;
  }
}

.filter {
  display: flex;
  color: $blackCol;
  button{
    width: 25%;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    position: relative;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 400;

    &:hover{
      opacity: 0.8;
    }
    &:active, &:focus {
      outline: 0;
    }
    &:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &.active:after{
      width: 0;
      height: 0;
      border-color: inherit;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: " ";
      border-top-width: 7px;
      border-top-style: solid;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

#listOfSpecifications{
  width: 100%;
  font-size: 12px;
  @media screen and (min-width: 1024px){
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    // border-width: 5px;
    // top:100px;
    overflow-y: auto;
  }
}

.spec-list{
  margin: 15px 0 0;
  padding: 0;
  li{
    list-style: none;
    border-bottom: 1px solid $greyCol1;
  }
  a{
    color: $whiteCol;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  .passed{
    border-left: 5px solid $positive-col;
  }
  .failed{
    border-left: 5px solid $negative-col;
  }
  .skipped{
    border-left: 5px solid $greyCol2;
  }
  .time{
    float: right;
  }
}

.searchFilterContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 3px;
  .searchFilterBtn {
    background: $primary-col2;
    color: $blackCol;
    border: 0;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 10px 5px 30px;
    background: url(../images/sprite.png) no-repeat 8px 4px $primary-col2;
    &:hover, &:focus {
      background-color: darken($primary-col2, 5%);
    }
    i {
      margin-right: 5px;
    }
  }
  .searchInWrapper {
    padding-top: 5px;
    label {
      margin-left: 10px;
      input {
        margin-right: 3px;
      }
    }
  }
}