$headerBG      : #EDC300;
$bodyBG        : #ebebeb;
$whiteCol      : #ffffff;
$blackCol      : #000000;

$primary-col1  : #3B224D;
$greyCol1      : #848383;
$greyCol2      : #cccccc;

$positive-col  : #5DC8A7;
$negative-col  : #D74945;
$greytxt       : #999999;

$errorBG       : #ffda8b;

$grey1			: #4a4a4a;
$grey2			: #838383;
$grey3			: #cccccc;
$grey4			: #ececec;
