$headerBG      : #ecc31c;
$bodyBG        : #ebebeb;
$whiteCol      : #ffffff;
$blackCol      : #000000;
$primary-col1  : #3b234c;
$greyCol1      : #848383;
$greyCol2      : #cccccc;

$positive-col  : #66cbac;
$negative-col  : #d9534f;
$greytxt       : #999999;

$errorBG       : #ffda8b;
