<div class="chart text_center inline_block_desktop">
  <svg id="pie-chart" data-results="0,3,0" data-total="3">
    <path class="status failedBG" d="M 100 7 A 68 68 0 0 0 100 7 L 100 75 L 100 7 Z" stroke-width="0"></path>
    <path class="shadow failedBG" data-status="failed" d="M 100 0 A 75 75 0 0 0 100 0 L 100 75 L 100 0 Z"><title>Failed: 0/3</title></path>
    <path class="status passedBG" d="M 99.940658812964 7.000025892479044 A 68 68 0 1 0 100 7 L 100 75 L 99.940658812964 7.000025892479044 Z" stroke-width="0"></path>
    <path class="shadow passedBG" data-status="passed" d="M 99.93455016135735 0.00002855788129352277 A 75 75 0 1 0 100 0 L 100 75 L 99.93455016135735 0.00002855788129352277 Z"><title>Passed: 3/3</title></path>
    <path class="status skippedBG" d="M 99.940658812964 7.000025892479044 A 68 68 0 0 0 99.940658812964 7.000025892479044 L 100 75 L 99.940658812964 7.000025892479044 Z" stroke-width="0"></path>
    <path class="shadow skippedBG" data-status="skipped" d="M 99.93455016135735 0.00002855788129352277 A 75 75 0 0 0 99.93455016135735 0.00002855788129352277 L 100 75 L 99.93455016135735 0.00002855788129352277 Z"><title>Skipped: 0/3</title></path>
  </svg>
</div>
