<ul>
  <li>
    <label>Environment </label>
    <span>default</span>
  </li>

  <li>
    <label>Success Rate </label>
    <span>100%</span>
  </li>
  <li>
    <label>Total Time </label>
    <span>00:00:11</span>
  </li>
  <li>
    <label>Generated On </label>
    <span>Mar 13, 2017 at 10:47am</span>
  </li>
</ul>
