<div class="report-overview">
  <h3>Report Overview</h3>
  <div class='box-container'>
	  <div class='box'>
	    {{> pie_chart}}
		  <div class="report_test-results inline_block_desktop">
		    {{> test_results_summary}}
		  </div>
		</div>
		<div class="report_details box">
		  {{> report_details}}
		</div>
	</div>
</div>
