<div id="specItemsContainer"><div class="content"><span></span>

<div class="scenario-container passed">
<div class="scenario-head">
  <h3 class="head borderBottom">Create a new product</h3>
  <span class="time">00:00:02</span><div class="tags scenario_tags contentSection">
  <strong>Tags:</strong>
  <span> admin</span><span> product</span><span> create</span>
</div></div><span></span><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:02</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Create a product
    </span>



    <div class="inline-table">
      <div>
        <table>
  <tbody><tr>
    <th>Title</th><th>Description</th><th>Author</th><th>Price</th>
  </tr>
  </tbody><tbody>

    <tr><td>Go Programming</td><td>ISBN: 978-1453636671</td><td>John P. Baugh</td><td>25.00</td></tr>

    <tr><td>The Way to Go</td><td>ISBN: 978-1469769165</td><td>Ivo Balbaert</td><td>20.00</td></tr>

    <tr><td>Go In Action</td><td>ISBN: 9781617291784</td><td>Brian Ketelsen</td><td>30.00</td></tr>

    <tr><td>Learning Go</td><td>ebook</td><td>Miek Gieben</td><td>0.00</td></tr>

  </tbody>
</table>

      </div>
    </div>


</div></li></ul></div></div><span></span></div><div class="scenario-container passed">
<div class="scenario-head">
  <h3 class="head borderBottom">Search for a product</h3>
  <span class="time">00:00:00</span><div class="tags scenario_tags contentSection">
  <strong>Tags:</strong>
  <span> admin</span><span> product</span><span> search</span>
</div></div><span><p>"Find and Open product page for" is a concept</p>
</span><span></span><div class="step concept">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt"><i class="fa fa-plus-square" aria-hidden="true"></i>




    <span>
      Find and Open product page for
    </span>



    <span class="parameter">"Go Programming"</span>


</div></li></ul></div></div><div class="concept-steps" style="display: none;"><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      On product page
    </span>


</div></li></ul></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Search for product
    </span>



    <span class="parameter">"Go Programming"</span>


</div></li></ul></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Open description for product
    </span>



    <span class="parameter">"Go Programming"</span>


</div></li></ul></div></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Verify product
    </span>



    <span class="parameter">"author"</span>



    <span>
       as
    </span>



    <span class="parameter">"John P. Baugh"</span>


</div></li></ul></div></div></div><div class="scenario-container passed">
<div class="scenario-head">
  <h3 class="head borderBottom">Search and edit and existing product</h3>
  <span class="time">00:00:02</span><div class="tags scenario_tags contentSection">
  <strong>Tags:</strong>
  <span> admin</span><span> product</span><span> edit</span>
</div></div><span><p>"Find and store productId for" and "Open product edit page for stored productId" uses the sceanrio datastore</p>
</span><span></span><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Open product edit page for stored productId
    </span>


</div></li></ul></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:01</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Update product specifier to new value
    </span>




  <span class="modal-link">&lt;table:resources/product_data.csv&gt;</span>
    <div class="modal">
      <h2 class="modal-title">resources/product_data.csv</h2>
      <span class="close">×</span>
      <div class="modal-content">
        <pre>specifier,value
title,The Way to Go On
author,Ivo Jay Balbaert
description,hohoho</pre>
      </div>
    </div>



</div></li></ul></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Check product specifier has new value
    </span>




  <span class="modal-link">&lt;table:resources/product_data.csv&gt;</span>
    <div class="modal">
      <h2 class="modal-title">resources/product_data.csv</h2>
      <span class="close">×</span>
      <div class="modal-content">
        <pre>specifier,value
title,The Way to Go On
author,Ivo Jay Balbaert
description,hohoho</pre>
      </div>
    </div>



</div></li></ul></div></div></div><div class="scenario-container passed">
<div class="scenario-head">
  <h3 class="head borderBottom">Delete a product</h3>
  <span class="time">00:00:00</span><div class="tags scenario_tags contentSection">
  <strong>Tags:</strong>
  <span> admin</span><span> product</span><span> delete</span>
</div></div><span><p>The below concept is an example of nested concept, check out the definition.</p>
</span><span></span><div class="step concept">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt"><i class="fa fa-plus-square" aria-hidden="true"></i>




    <span>
      Delete product
    </span>



    <span class="parameter">"Learning Go"</span>


</div></li></ul></div></div><div class="concept-steps"><div class="step concept">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt"><i class="fa fa-plus-square" aria-hidden="true"></i>




    <span>
      Find and Open product page for
    </span>



    <span class="parameter">"Learning Go"</span>


</div></li></ul></div></div><div class="concept-steps"><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      On product page
    </span>


</div></li></ul></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Search for product
    </span>



    <span class="parameter">"Learning Go"</span>


</div></li></ul></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Open description for product
    </span>



    <span class="parameter">"Learning Go"</span>


</div></li></ul></div></div></div><div class="step">

  <h5 class="execution-time">
  <span class="time">Execution Time : 00:00:00</span>
  </h5>

    <div class="step-info passed">

    <ul>
      <li class="step">
        <div class="step-txt">




    <span>
      Delete this product
    </span>


</div></li></ul></div></div></div></div></div></div>
