<header class="curr-spec">
  <div class="spec-head-wrapper">
    <h3 class="spec-head" title="/home/srikanth/projects/gauge/gauge-example-java/specs/customer.spec">Customers</h3>
    <div class="row">
      <span class="specTime">00:00:01</span>
      <div class="spec_test_results" alt="Scenarios" title="Scenarios">
        <ul>
          <li class="all">
            <label>All</label>
            <span class="value redtxt">2</span>
          </li>
          <li class="fail">
            <label>Failed</label>
            <span class="value redtxt">0</span>
          </li>
          <li class="pass">
            <label>Passed</label>
            <span class="value greentxt">2</span>
          </li>
          <li class="skip">
            <label>Skipped</label>
            <span class="value greytxt">0</span>
          </li>
          <li class="spec-meta">
              <input id="specFileName" value="/home/srikanth/projects/gauge/gauge-example-java/specs/customer.spec" readonly="">
              <button class="clipboard-btn" data-clipboard-target="#specFileName" title="Copy to Clipboard">
                  <i class="fa fa-clipboard" aria-hidden="true" title="Copy to Clipboard"></i>
              </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
