<ul>
  <li class="fail" data-status="failed">
    <label>Failed</label>
    <span class="value redtxt">0</span>
  </li>
  <li class="pass" data-status="passed">
    <label>Passed</label>
    <span class="value greentxt">3</span>
  </li>
  <li class="skip" data-status="skipped">
    <label>Skipped</label>
    <span class="value greytxt">0</span>
  </li>
  <li class="total" data-status="all">
    <label>Total Specs</label>
    <span class="value">3</span>
  </li>
</ul>
