{{define "header"}}
    <header class="top">
      <div class="header">
        <div class="container">
          <div class="logo">
            <a href="/"><img src="{{(toPath .BasePath "images/logo.png")}}" alt="Report logo"></a>
          </div>
          <h2 class="project">Project Name</h2>
            <div id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
      </div>
    </header>
{{end}}