{{define "specPage"}}
  {{$overview := (toOverview .SuiteRes .SpecRes.FileName)}}
  <!doctype html>
  <html>
    {{template "head" $overview}}
    <body>
      {{template "header" $overview}}
      {{template "spec" .}}
      {{template "sidebar" (toSidebar .SuiteRes .SpecRes.FileName)}}
      {{template "footerAndJS"}}
      <script language="javascript" src="{{(toPath $overview.BasePath "js/vendor.js")}}"></script>
      <script language="javascript" src="{{(toPath $overview.BasePath "js/main.js")}}"></script>
    </body>
  </html>
{{end}}